<div class="container">
    <h1>Edit Profile</h1><hr>
    <form [formGroup]="editForm" novalidate>
        <div class="form-group">
          <label for="first_name">First Name:</label>
          <input type="text" class="form-control" id = "first_name" name="first_name" formControlName="first_name" placeholder="John" required #first_name>
          <div class="alert alert-danger" *ngIf="editForm.controls['first_name'].invalid && (editForm.controls['first_name'].dirty || editForm.controls['first_name'].touched)">
            <div *ngIf="editForm.controls['first_name'].errors?.required">First Name required.</div>
          </div>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" id = "last_name" name="last_name" formControlName="last_name"  placeholder="Doe"required #last_name >
            <div class="alert alert-danger" *ngIf="editForm.controls['last_name'].invalid && (editForm.controls['last_name'].dirty || editForm.controls['last_name'].touched)">
              <div *ngIf="editForm.controls['last_name'].errors?.required">Last Name required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id = "email" name="email" formControlName="email" #email readonly>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="textarea" class="form-control" id = "address" name="address" formControlName="address" placeholder="7575 Frankford ...." required #address >
            <div class="alert alert-danger" *ngIf="editForm.controls['address'].invalid && (editForm.controls['address'].dirty || editForm.controls['address'].touched)">
              <div *ngIf="editForm.controls['address'].errors?.required">Address required.</div>
            </div>
        </div>
        <div class="form-group">
            <button (click)="updateUser(first_name.value, last_name.value, address.value)" [disabled]="editForm.pristine || editForm.invalid" class="btn btn-primary">Update Profile</button>
        </div>
      </form>
    
</div>