
    <h1>Upcoming Items</h1>
    <hr>
    <div class="row">
        <div *ngFor = "let item of items" class ="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{imageUrl}}{{item.image[0].path}}" alt="Card image cap" style="height: 250px;">
              <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <hr>
                <p class="card-text"></p><span class ="label label-primary">${{item.bid_price.starting_bid}}</span>
                <hr>
                <p class="card-text">{{item.desc}}</p>
                <hr>
                <p class="card-text"><button class="btn btn-warning">Start Time: {{item.time.start_time}}</button></p>
                <a *ngIf = "adminFlag" [routerLink]="['/update', item._id]" href="#" class="btn btn-success">Update</a>
                <a *ngIf = "adminFlag" (click)="deleteItem(item._id)" href="#" class="btn btn-danger">Delete</a>
              </div>
            </div>
            <br>
        </div>
    </div>     