<div class="container">
  <app-navbar></app-navbar>
  <br>
  <div class="row">
    <div class="col-md-4">
      <h1 align="center">Profile</h1>
      <hr>
        <div class="card mt-4">
            <img class="card-img-top img-fluid" src="{{imageUrl}}uploads/{{user.profilePic}}" alt="">
            <div class="card-body">
              <h3 class="card-title">{{user.first_name}} {{user.last_name}}</h3>

              <p class="card-text">Address: {{user.address}}</p>
              <span class="btn btn-outline-success" routerLink="/editProfile">Update Profile</span>
              
            </div>
          </div>
    </div>

    <div class="col-md-8">
        <div *ngIf="itemsBought">
          <h1 align="center">Items Bought</h1>
          <hr>
            <div class="row">
                <div  *ngFor = "let item of itemsBought | paginate: { id:'live' ,itemsPerPage: 2,currentPage: p}" class="card m-4" style="width: 18rem;">
                    <div *ngIf="item.image && item.image.length">
                        <img class="card-img-top" src="{{imageUrl}}{{item.image[item.image.length - 1].path}}" alt="Card image cap" style="height: 250px;">
                        <div class="card-body">
                          <h5 class="card-title">{{item.name}}</h5>
                          <hr>
                          <p class="card-text"></p><span class ="label label-primary"><b>Price:  </b><button class="btn btn-success">  ${{item.bid_price.final_price}}</button></span>
                          <hr>
                          <span class="btn btn-outline-success">{{item.category}}</span>
                        </div>
                    </div>
                  </div>
                  
            </div>
            <pagination-controls class="d-flex justify-content-center" id = "live" (pageChange)="p = $event"></pagination-controls>
            
        </div>
        
    </div>
</div>
